In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/jeanphilippepetit-frere/Python_projects/Quotes_classifier/quotes.csv')

In [4]:
df

,Unnamed: 0,quote,author,tags
0,0,“Be yourself; everyone else is already taken.”,Oscar Wilde,"['be-yourself', 'gilbert-perreira', 'honesty',..."
1,1,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,"['best', 'life', 'love', 'mistakes', 'out-of-c..."
2,2,“Two things are infinite: the universe and hum...,Albert Einstein,"['human-nature', 'humor', 'infinity', 'philoso..."
3,3,"“So many books, so little time.”",Frank Zappa,"['books', 'humor']"
4,4,“A room without books is like a body without a...,Marcus Tullius Cicero,"['books', 'simile', 'soul']"
...,...,...,...,...
2503,2995,“Morality is simply the attitude we adopt towa...,"Oscar Wilde,","['morality', 'philosophy']"
2504,2996,“Don't aim at success. The more you aim at it ...,"Viktor E. Frankl,","['happiness', 'success']"
2505,2997,"“In life, finding a voice is speaking and livi...",John Grisham,['inspirational-life']
2506,2998,"“Winter is the time for comfort, for good food...",Edith Sitwell,"['comfort', 'home', 'winter']"
2507,2999,“Silence is so freaking loud”,"Sarah Dessen,","['just-listen', 'loud', 'owen', 'sara-dessen',..."

In [5]:
df1 = df[['quote']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2508 non-null   int64
 1   quote       2508 non-null   object
 2   author      2508 non-null   object
 3   tags        2508 non-null   object
dtypes: int64(1), object(3)
memory usage: 78.5+ KB

In [ ]:
#use nlp and clustering on the dataset
#gridsearch